<!--人材側Q＆A詳細-->
<div class="box col-5 offset-md-1 mt-5">
  <h3>Q＆A詳細</h3>
  <table class="table">
    <tr>
      <td>
        <h4>質問内容　：</h4>
      </td>
      <td><%= @question.title %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= @question.question_content %></td>
    </tr>
    <tr>
      <td>
        <h4>回答　　　：</h4>
      </td>
      <td><%= @question.answer_content %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to "　　戻る　　", company_path(@company), class: "btn btn-secondary" %></td>
    </tr>
  </table>
</div>