<div class="container me-3 my-5 p-0 ml-auto">
  <div class="row">
    <div class="box col-md-8">
      <div class="t1">
        <h1>
          <strong>仮企業ホームページ</strong>
        </h1>
      </div>
    </div>
  </div>
</div>