<!--企業側Q＆A詳細-->
<div class="col-5 offset-md-1 mt-5">
  <h3>Q＆A詳細</h3>
  <table class="table">
    <tr>
      <td>質問内容　：</td>
      <td><%= @question.title %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= @question.question_content %></td>
    </tr>
    <tr>
      <td>回答　　　：</td>
      <td><%= @question.answer_content %></td>
    </tr>
    <tr>
      <td><%= link_to "戻る", companies_company_path(current_company), class: "btn btn-secondary" %></td>
      <td></td>
    </tr>
  </table>
</div>

