<div class="container me-3 my-5 p-0 ml-auto">
  <div class="row">
    <div class="box col-md-8">
      <div class="t3">
        <h1>
          <strong>ABOUTページ</strong>
        </h1>
        <h5 class="t2">Sendは求人を募集している企業に簡単かつ、
        <br>匿名で質問ができる求人サポートサイトです。
        <br>是非お気軽にご利用下さい。
        <br><br><br>【サイトの使用方法】
        <br><br>企業を選択<br>▼
        <br>フォームから質問を送信<br>▼
        <br>24時間以内に企業が回答<br>▼
        <br>企業詳細ページのQ＆Aで確認</h5>
      </div>
    </div>
  </div>
</div>