<div class="container me-3 my-5 p-0 ml-auto">
  <div class="row">
    <div class="box col-md-8">
      <div class="t1">
        <h1>
          <strong>企業の疑問を全て解消。</strong>
        </h1>
        <h4 class="t2">Q&A式求人サポートサイトSend</h4>
        <%= link_to new_user_session_path, class: "btn btn-secondary" do %>
          <p class="box">　　仕事を探す　　</p>
        <% end %>
      </div>
    </div>
  </div>
</div>