<!--企業側回答投稿フォーム-->

<%= render 'errors', question: @question %>

<%= form_with model: question, url: companies_question_path(question), method: :patch do |f| %>

<h4>回答内容</h4>
  <%= f.text_area :answer_content %>

  <%= f.submit 'Q＆Aに追加する' %>

<% end %>