<!--企業側質問一覧-->
<div>
<%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>質問一覧</h1>
      <table class="table table-striped">
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td>
              <%= link_to companies_question_path(question) do %>
                <%= question.title %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>