<!--企業側質問詳細-->
<div class="box col-8 offset-md-1 mt-5">
  <h3>回答フォーム</h3>
  <div class="container mx-auto">
    <div class="row">
      <div class="col-3 h5">タイトル　：</div>
      <div class="form-group col-sm-6">
        <%= @question.title %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 h5">質問内容　：</div>
      <div class="form-group col-sm-6">
        <%= @question.question_content %>
      </div>
    </div>
  </div>
</div>
<%= render 'edit', question: @question %>